@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
  border: none;
  box-sizing: border-box;
}
  
html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	background: #F1F1F1;
	font-family: 'Roboto', sans-serif;
}

#root {
	height: 100%;
}

.regular {
	font-weight: 400 !important;
}

.aaaa {
	opacity: 0.2
}

.login-input {
	min-width: 400px;
}

.or {
	color: #77797B;
	font-weight: 400;
	font-size: 18px;
	margin-top: 20px;
}


@media (max-width: 700px) {
	.dropdown {
		display: none !important;
	}
}

@media (max-width: 500px) {
	.login-input {
		min-width: 300px;
	}
}

@media (max-width: 400px) {
	.login-input {
		min-width: 250px;
	}
}

.bg-enter {
	left: 0;
}

.bg-enter-active {
	left: 1;
	transition: left 300ms;
}

.bg-exit {
	left: 1;
}
  
.bg-exit-active {
	opacity: 0;
	transition: left 300ms;
}

.my-node-enter {
	left: -30%;
}
.my-node-enter-active {
	left: 0;
	transition: left 300ms;
}

.my-node-exit {
	left: 0;
}
  
.my-node-exit-active {
	left: -30%;
	transition: left 300ms;
}

.form {
	display: flex; 
	flex-direction: column;
	overflow-y: auto;
	margin-top: 10px;
	padding: 0px 10px 20px 0px;
}


/* width */
::-webkit-scrollbar {
	width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(4, 102, 185, 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(4, 102, 185, 1)
}

.marginBottomSpan {
	margin-bottom: 2px !important;
}

.marginTopSpan {
	margin-top: 0px !important;
}

.selected {
	background:#0466B9 !important;
	color: #fff !important;
}

.selected-address {
	border: 1px solid #0466B9 !important;
	color: #0466B9 !important;
	opacity: 1 !important;
}


.addresses {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}

.address-input {
	flex-grow: 1 !important;
	margin-right: 20px;
}

.max-width {
	width: 90%;
}

.prices {
	width: 50% !important;
}


@media (max-width: 808px) {
	.prices {
		width: calc(100% - 40px) !important;
	}
}

.dropbtn {
	/* background: #0995C6; */
	color: white;
	padding: 16px 6px 16px 16px;
	font-weight: 600;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 6px;
}

/* Links inside the dropdown */

.dropdown-content a, .dropdown-content span {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 200%;
	text-decoration: none;
	color: #0466B9;
	padding: 10px 0px;
	display: block;
	font-family: 'Roboto';
	cursor: pointer;
	border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
	margin: 0px 20px;
	flex-grow: 1;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
	top: 35px;
}

.align-center {
	align-items: center;
	justify-content: center;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
	opacity: 0.8;
}

.product-image {
	display: none;
	transition: all 1000ms;
}

.product-image:hover {
	display: flex;
}
